<!-- Static navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;"  ng-controller="navController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brifan@yo.com</a>
        </div>
        <div id="navbar" ng-if="isAuth">
            <ul class="nav navbar-nav"  >
                <li ng-class="{active: isActive('/home')}"><a href="/home">Home</a></li>
                <li ng-class="{active: isActive('/about')}" ><a href="/about">About</a></li>
                <li ng-class="{active: isActive('/customres')}"><a href="/projects/customerapi">Customers</a></li>
                <li ng-class="{active: isActive('/chat')}"><a href="/projects/chat">Chat</a></li>
            </ul>
        </div><!--/.nav-collapse -->

        <ul class="nav navbar-nav pull-right" ng-if="!isAuth">
            <li ng-class="{active: isActive('/about')}" class="pull-left" ><a href="/about">About</a></li>
            <li ng-class="{active: isActive('/signup')}" ><a href="/signup">Signup</a></li>
            <li ng-class="{active: isActive('/signin')}" ><a href="/signin">Signin</a></li>
        </ul>
        <h6 class=" pull-right" ng-if="isAuth" ng-click="logout()" style="cursor: pointer" title="logout"  >Hi&nbsp&nbsp&nbsp<mark>{{isAuth}}</mark> </h6>
    </div><!--/.container-fluid -->
</nav>







<div class="row">
    <div class="col-md-6">
        <img src="img/brent.png" class="img-circle img-responsive" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>My name is Brent Aureli...</h2>
        <p>
            I am a 29y/o guy living in Mountain View, California. In 2009 I graduated Southwestern Adventist 
            University in Keene, Texas with a Bachelors degree in Nursing. For the past 6 years I have been
            working as a Registered Nurse, mostly focusing on Cardiac Telemetry(monitoring).
        </p>
        <p>
            Near the end of 2013 I began taking classes in Computer Science. I had taken some classes prior to 
            entering the nursing program and thought that it finishing it would be a good idea. Technology has
            always been a passion of mine, as has education(I'd be a professional student if I could!), so I 
            back to Southwestern Adventist University and recently graduated with a Bachelors degree in 
            May 2015.
        </p>
        <p>
            I moved to Mountain View, California to be near my girlfriend who is a Math teacher at a local
            high school. It also didn't hurt that silicon valley has always appeared to me in the same light
            as Disneyland! So here I am, Full time nurse at a hospital in Redwood City, and part time 
            Web-Developer/Tutorial Creator!
        </p>
        <p>
            I love to talk to new people, and hearing about new opportunities. If you think I may be able to
            bring something to your team... LET ME KNOW! Look forward to hearing from you!
        </p>        
    </div>
</div>
