<!-- Static navbar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;"  ng-controller="navController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Brifan@yo.com</a>
        </div>
        <div id="navbar" ng-if="isAuth">
            <ul class="nav navbar-nav"  >
                <li ng-class="{active: isActive('/home')}"><a href="/home">Home</a></li>
                <li ng-class="{active: isActive('/about')}" ><a href="/about">About</a></li>
                <li ng-class="{active: isActive('/customres')}"><a href="/projects/customerapi">Customers</a></li>
                <li ng-class="{active: isActive('/chat')}"><a href="/projects/chat">Chat</a></li>
            </ul>
        </div><!--/.nav-collapse -->

        <ul class="nav navbar-nav pull-right" ng-if="!isAuth">
            <li ng-class="{active: isActive('/about')}" class="pull-left" ><a href="/about">About</a></li>
            <li ng-class="{active: isActive('/signup')}" ><a href="/signup">Signup</a></li>
            <li ng-class="{active: isActive('/signin')}" ><a href="/signin">Signin</a></li>
        </ul>
        <h6 class=" pull-right" ng-if="isAuth" ng-click="logout()" style="cursor: pointer" title="logout"  >Hi&nbsp&nbsp&nbsp<mark>{{isAuth}}</mark> </h6>
    </div><!--/.container-fluid -->
</nav>







<div class="row">
    <div class="col-md-6">
        <img src="img/a.jpg" class="img-circle img-responsive" id="about-image" />
    </div>
    <div class="col-md-6" id="about">
        <h2>Customer Info App</h2>
        <p>
            This Application is basically build to help people to manage their customers.
            The Features are creating a customer.Customer details are added by the Administrator
            .NO unauthorized person is allowed to use this feature.
            .To get authorized you can simply register onto the app
            .The Authorization process is very simple for now I will try to include other complex functionalities later.
        </p>
        <p>
            The Customer details The admin enters are name,phone,and address . I have kept it simple
            to keep the form small.if other functionality is needed it can be added on request.
            The only important thing is the name of the customer .Without the name a customer cannot
            be entered into the system.Other details such as phone,address can be added later .
        </p>
        <p>
            I have used <a href="https://daneden.github.io/animate.css/">Animate css </a>&nbspwhich
            give the app cool animation effect.some part of animation is controlled by Angular.
            The backend part, server side code is totally controlled by NodeJs.
        </p>
        <p>
            Please feel free to try the app and test it .If any problems please post the comments on github.
            it will be very helpfull.
            I love to talk to new people, and hearing about new opportunities. If you think I may be able to
            bring something to your team... LET ME KNOW! Look forward to hearing from you!
        </p>        
    </div>
</div>
